<section class="oz-menu">
	<h1>What is This?</h1>
	<ul>
		<a href="about.html"><li>About Outzoner</li></a>
		<a href="glossray.html"><li>Glossray</li></a>
		<a href="review_ratings.html"><li>Review Ratings</li></a>
	</ul>
	<h1>Read Up</h1>
	<ul>
		<li>Artists</li>
		<a href="reviews.html"><li>Reviews</li></a>
		<li>Features</li>
	</ul>
	<h1>From the Experts</h1>
	<ul>
		<li>Lists</li>
		<a href="shares.html"><li>Shares</li></a>
		<li>Bios</li>
	</ul>
	<h1>The Outer Zone</h1>
	<ul>
		<li>Talk Zone</li>
		<li>Real Zoners</li>
		<li>Lists</li>
		<li>Shares</li>
	</ul>
</section>